# This is my sample .ipynb file!
This could be your analyses files, your visualization files, etc.

In [2]:
import matplotlib.pyplot as plt
import pandas as pd
from df_after_transform import df_after_transform
from sklearn import set_config
from sklearn.calibration import CalibrationDisplay
from sklearn.compose import (
    ColumnTransformer,
    make_column_selector,
    make_column_transformer,
)
from sklearn.impute import SimpleImputer
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import (
    ConfusionMatrixDisplay,
    DetCurveDisplay,
    PrecisionRecallDisplay,
    RocCurveDisplay,
    classification_report,
)
from sklearn.model_selection import (
    GridSearchCV,
    KFold,
    cross_validate,
    train_test_split,
)
from sklearn.pipeline import make_pipeline
from sklearn.preprocessing import OneHotEncoder, StandardScaler

set_config(display="diagram")  # display='text' is the default

pd.set_option(
    "display.max_colwidth", 1000, "display.max_rows", 50, "display.max_columns", None
)

In [103]:
import pandas as pd

sample=pd.read_csv('IMPORTANT.csv')

In [104]:
sample

                  Firm              Unnamed: 1 ticker
0             Opendoor           Opendoor Inc.   OPEN
1            Medtronic          Medtronic Inc.    MDT
2               Redfin             Redfin Inc.   RDFN
3               Acxiom             Acxiom Inc.    NaN
4    Pear Therapeutics  Pear Therapeutics Inc.   PEAR
..                 ...                     ...    ...
257              GoPro              GoPro Inc.   GPRO
258               Domo               Domo Inc.   DOMO
259  Sage Therapeutics  Sage Therapeutics Inc.   SAGE
260              Maven              Maven Inc.    NaN
261          Blackbaud          Blackbaud Inc.   BLKB

[262 rows x 3 columns]

In [105]:
stocks

['OPEN',
 'MDT',
 'RDFN',
 'nan',
 'PEAR',
 'AMPL',
 'VIEW',
 'AAPL',
 'ROKU',
 'TREE',
 'KD',
 'EA',
 'STX',
 'ICAD',
 'SFT',
 'LCID',
 'LIDR',
 'BTTX',
 'MRVL',
 'EXPE',
 'AMZN',
 'COHR',
 'LFLY',
 'FRSH',
 'BOXDQ',
 'META',
 'SSNLF',
 'NLTX',
 'TTWO',
 'SIRI',
 'EMBK',
 'ABNB',
 'ACCD',
 'ZS',
 'TWKS',
 'SOND',
 'EB',
 'MLNK',
 'PLTR',
 'nan',
 'LHDXQ',
 'EVGO',
 'TASK',
 'MU',
 'DMRC',
 'DOCU',
 'REAL',
 'SMAR',
 'DOCN',
 'CXM',
 'METV',
 'RBOT',
 'UDMY',
 'TWLO',
 'RGTI',
 'OPRT',
 'GTLB',
 'BARK',
 'GDDY',
 'AFRM',
 'ZM',
 'EBAY',
 'SCWX',
 'DELL',
 'OKTA',
 'ADSK',
 'DM',
 'GETR',
 'SPLK',
 'PINS',
 'DKNG',
 'CYRNQ',
 'APGT',
 'FREQ',
 'MTCH',
 'RIVN',
 'PYPL',
 'NTAP',
 'WDAY',
 'HUBS',
 'UPST',
 'WISH',
 'NATI',
 'GRPN',
 'INTC',
 'BMTX',
 'QSI',
 'SOFI',
 'SNPS',
 'CFLT',
 'IBM',
 'LRCX',
 'GH',
 'VCSA',
 'PD',
 'CTV',
 'YEXT',
 'GOOG',
 'W',
 'COF',
 'PTRA',
 'WE',
 'LAW',
 'MGNI',
 'PSNL',
 'MSFT',
 'TDOC',
 'VRM',
 'EGHT',
 'PGY',
 'ISPO',
 'NCNO',
 'STRYQ',
 'BALY',
 'LUCD',
 'U',
 'RNG',
 'LVOX',
 'ORCL',
 'CVNA',
 'LC',
 'DH',
 'LIFX',
 'XM',
 'HCP',
 'COIN',
 'INFA',
 'BLND',
 'nan',
 'FATE',
 'IPSC',
 'EDIT',
 'WKME',
 'CUE',
 'SOUN',
 'COMP',
 'SFIX',
 'TCRR',
 'CRM',
 'KLTR',
 'BFLY',
 'VMEO',
 'PEGA',
 'DOX',
 'QCOM',
 'TSP',
 'XIACF',
 'BIGC',
 'QNGYQ',
 'EGIO',
 'DSP',
 'NABL',
 'TTGT',
 'BKKT',
 'APRN',
 'LNVGY',
 'NRDY',
 'DOMA',
 'BZFD',
 'ADBE',
 'ZUO',
 'SBIG',
 'SQZ',
 'SYBX',
 'DASH',
 'ESTC',
 'CDXS',
 'WDC',
 'NTRA',
 'nan',
 'CSCO',
 'SMWB',
 'PATH',
 'ASAN',
 'RBCN',
 'ILMN',
 'SMFR',
 'SNCE',
 'CDLX',
 'TCDAQ',
 'OPAD',
 'ROOT',
 'COUR',
 'EVBG',
 'ASTR',
 'NSTG',
 'VRNS',
 'LYFT',
 'RAMP',
 'RUBY',
 'nan',
 'ZUO',
 'FFIV',
 'VLTA',
 'BYND',
 'HLFFF',
 'BMRN',
 'PTON',
 'OUST',
 'LPSN',
 'NFLX',
 'TBLA',
 'RENT',
 'BBAI',
 'SNAP',
 'GDRX',
 'HIPO',
 'SKLZ',
 'NEWR',
 'CFRX',
 'TDUP',
 'CORZQ',
 'GWRE',
 'GOCO',
 'NTNX',
 'QTRX',
 'ABSI',
 'BLI',
 'SG',
 'WRBY',
 'TXG',
 'HOOD',
 'LTCH',
 'FUBO',
 'BIRD',
 'TWOU',
 'OB',
 'PEAR',
 'OWLT',
 'NVTA',
 'GOEV',
 'nan',
 'APP',
 'IRNT',
 'BRDS',
 'TSLA',
 'LMND',
 'TLIS',
 'SEZNL',
 'ADPT',
 'ZY',
 'CSPR-USD',
 'DBX',
 'KERN',
 'YELP',
 'FDCHF',
 'nan',
 'SONO',
 'INTU',
 'TRUE',
 'UBER',
 'nan',
 'nan',
 'nan',
 'nan',
 'LVTSF',
 'CARG',
 'GPRO',
 'DOMO',
 'SAGE',
 'nan',
 'BLKB']

In [106]:
import pandas_datareader as pdr
from datetime import datetime
import yfinance as yf

stocks = [str(ticker) for ticker in sample['ticker'].tolist()]  # convert tickers to strings
start = datetime(2020, 1, 1)
end = datetime(2023, 4, 1)

# load
stock_prices = yf.download(stocks, start, end)

[*********************100%***********************]  250 of 250 completed

2 Failed downloads:
- ZY: No timezone found, symbol may be delisted
- SMFR: No timezone found, symbol may be delisted

In [107]:
stock_prices

             Adj Close                     ...     Volume
                  AAPL        ABNB   ABSI  ...         ZS        ZUO  ZY
Date                                       ...
2020-01-02   73.449387         NaN    NaN  ...  1377200.0  1792600.0 NaN
2020-01-03   72.735313         NaN    NaN  ...  1165200.0  1104300.0 NaN
2020-01-06   73.314880         NaN    NaN  ...  1534600.0  2004800.0 NaN
2020-01-07   72.970078         NaN    NaN  ...  1714900.0   945600.0 NaN
2020-01-08   74.143898         NaN    NaN  ...  3232500.0   666500.0 NaN
...                ...         ...    ...  ...        ...        ...  ..
2023-03-27  158.279999  117.910004  1.730  ...  1715000.0   728500.0 NaN
2023-03-28  157.649994  116.610001  1.630  ...  1327700.0   599600.0 NaN
2023-03-29  160.770004  118.800003  1.765  ...  1923800.0   520100.0 NaN
2023-03-30  162.360001  122.279999  1.680  ...  1282800.0   647700.0 NaN
2023-03-31  164.899994  124.400002  1.750  ...  1887500.0  1794500.0 NaN

[1031 rows x 1500 columns]

In [108]:
stock_prices1 = stock_prices.transpose()
stock_prices1.index.names=["stock_info","ticker"]
stock_prices1.columns.names=["date"]
# 打印出前几行数据来检查 DataFrame 是否已经转置成功
stock_prices1.head()

date               2020-01-02  2020-01-03  ...  2023-03-30  2023-03-31
stock_info ticker                          ...
Adj Close  AAPL     73.449387   72.735313  ...  162.360001  164.899994
           ABNB           NaN         NaN  ...  122.279999  124.400002
           ABSI           NaN         NaN  ...    1.680000    1.750000
           ACCD           NaN         NaN  ...   13.570000   14.380000
           ADBE    334.429993  331.809998  ...  381.899994  385.369995

[5 rows x 1031 columns]

In [109]:
stock_prices1=stock_prices1[:249]

In [110]:
stock_prices1

date               2020-01-02  2020-01-03  ...  2023-03-30  2023-03-31
stock_info ticker                          ...
Adj Close  AAPL     73.449387   72.735313  ...  162.360001  164.899994
           ABNB           NaN         NaN  ...  122.279999  124.400002
           ABSI           NaN         NaN  ...    1.680000    1.750000
           ACCD           NaN         NaN  ...   13.570000   14.380000
           ADBE    334.429993  331.809998  ...  381.899994  385.369995
...                       ...         ...  ...         ...         ...
           YEXT     14.640000   14.250000  ...    9.340000    9.610000
           Z        45.209999   44.720001  ...   42.880001   44.470001
           ZM       68.720001   67.279999  ...   72.040001   73.839996
           ZS       47.330002   47.380001  ...  112.220001  116.830002
           ZUO      14.760000   14.770000  ...    9.290000    9.880000

[249 rows x 1031 columns]

In [111]:
stock_prices1 = stock_prices1.reset_index()

# 打印出前几行数据来检查 DataFrame 是否已经重置成功
stock_prices1.head()

date stock_info ticker  ...  2023-03-30 00:00:00  2023-03-31 00:00:00
0     Adj Close   AAPL  ...           162.360001           164.899994
1     Adj Close   ABNB  ...           122.279999           124.400002
2     Adj Close   ABSI  ...             1.680000             1.750000
3     Adj Close   ACCD  ...            13.570000            14.380000
4     Adj Close   ADBE  ...           381.899994           385.369995

[5 rows x 1033 columns]

In [112]:
stock_prices1=stock_prices1.drop(["stock_info"], axis=1)

# 打印出前几行数据来检查 DataFrame 是否已经更新成功
stock_prices1

date ticker  2020-01-02 00:00:00  ...  2023-03-30 00:00:00  2023-03-31 00:00:00
0      AAPL            73.449387  ...           162.360001           164.899994
1      ABNB                  NaN  ...           122.279999           124.400002
2      ABSI                  NaN  ...             1.680000             1.750000
3      ACCD                  NaN  ...            13.570000            14.380000
4      ADBE           334.429993  ...           381.899994           385.369995
..      ...                  ...  ...                  ...                  ...
244    YEXT            14.640000  ...             9.340000             9.610000
245       Z            45.209999  ...            42.880001            44.470001
246      ZM            68.720001  ...            72.040001            73.839996
247      ZS            47.330002  ...           112.220001           116.830002
248     ZUO            14.760000  ...             9.290000             9.880000

[249 rows x 1032 columns]

In [113]:
stock_prices1.rename(columns={"date": "index"}, inplace=True)
stock_prices1

date ticker  2020-01-02 00:00:00  ...  2023-03-30 00:00:00  2023-03-31 00:00:00
0      AAPL            73.449387  ...           162.360001           164.899994
1      ABNB                  NaN  ...           122.279999           124.400002
2      ABSI                  NaN  ...             1.680000             1.750000
3      ACCD                  NaN  ...            13.570000            14.380000
4      ADBE           334.429993  ...           381.899994           385.369995
..      ...                  ...  ...                  ...                  ...
244    YEXT            14.640000  ...             9.340000             9.610000
245       Z            45.209999  ...            42.880001            44.470001
246      ZM            68.720001  ...            72.040001            73.839996
247      ZS            47.330002  ...           112.220001           116.830002
248     ZUO            14.760000  ...             9.290000             9.880000

[249 rows x 1032 columns]

In [114]:
sample=sample.drop(['Unnamed: 1'], axis=1)

sample

                  Firm ticker
0             Opendoor   OPEN
1            Medtronic    MDT
2               Redfin   RDFN
3               Acxiom    NaN
4    Pear Therapeutics   PEAR
..                 ...    ...
257              GoPro   GPRO
258               Domo   DOMO
259  Sage Therapeutics   SAGE
260              Maven    NaN
261          Blackbaud   BLKB

[262 rows x 2 columns]

In [115]:
new=sample.merge(stock_prices1, on='ticker')
new

                   Firm ticker  ...  2023-03-30 00:00:00  2023-03-31 00:00:00
0              Opendoor   OPEN  ...             1.630000             1.760000
1             Medtronic    MDT  ...            79.180000            80.620003
2                Redfin   RDFN  ...             8.160000             9.060000
3     Pear Therapeutics   PEAR  ...             0.260000             0.255000
4    Pear Therapeutics    PEAR  ...             0.260000             0.255000
..                  ...    ...  ...                  ...                  ...
244            CarGurus   CARG  ...            18.139999            18.680000
245               GoPro   GPRO  ...             4.910000             5.030000
246                Domo   DOMO  ...            13.030000            14.190000
247   Sage Therapeutics   SAGE  ...            41.910000            41.959999
248           Blackbaud   BLKB  ...            68.080002            69.300003

[249 rows x 1033 columns]

In [116]:
layoff=pd.read_csv('layoffs_data.csv')

layoff

               Company  ... List_of_Employees_Laid_Off
0             Opendoor  ...                    Unknown
1          Culture Amp  ...                    Unknown
2                 Noon  ...                    Unknown
3     Ten Square Games  ...                    Unknown
4               Ynsect  ...                    Unknown
...                ...  ...                        ...
2503      HopSkipDrive  ...                    Unknown
2504       Panda Squad  ...                    Unknown
2505     Tamara Mellon  ...                    Unknown
2506          EasyPost  ...                    Unknown
2507         Blackbaud  ...                    Unknown

[2508 rows x 12 columns]

In [117]:
newdata=layoff.merge(new, left_on='Company', right_on='Firm')
newdata

               Company  ... 2023-03-31 00:00:00
0             Opendoor  ...            1.760000
1             Opendoor  ...            1.760000
2             Opendoor  ...            1.760000
3            Medtronic  ...           80.620003
4               Redfin  ...            9.060000
..                 ...  ...                 ...
369           CarGurus  ...           18.680000
370              GoPro  ...            5.030000
371               Domo  ...           14.190000
372  Sage Therapeutics  ...           41.959999
373          Blackbaud  ...           69.300003

[374 rows x 1045 columns]

In [119]:
>>> from pathlib import Path  
>>> filepath = Path('newdata.csv')  
>>> filepath.parent.mkdir(parents=True, exist_ok=True)  
>>> newdata.to_csv(filepath)